* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 50px;
    font-size: medium;
    font-weight: 300;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-right: 20px;
  }
  
  header nav {
   
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }

  header nav ul {
    list-style-type: none;
  }

  header nav ul li {
    display: inline-block;
    margin-left: 25px;
  }



.avatar {
    max-height: 500px;
    max-width: 300px;   
}
.workphoto{
    max-height: 200px;
    max-width: 200px;

}
.project1 {
    max-height: 200px;
    max-width: 200px;
}
.project2{
    max-height: 200px;
    max-width: 200px;
}
.project3{
    max-width: 200px;
    max-height: 200px;
}


.page-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.page-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "about"
    "work"
    "portfolio";
}
#about {
    grid-area: about;
}

#work {
    grid-area: work;
}

#portfolio {
    grid-area: portfolio ;
}

#portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "project1"
    "project2"
    "project3";

}

.project1{
    grid-area: project1;
}
.project2{
    grid-area: project2;
}
.project3{
    grid-area: project3;
}

p {
    
}

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  margin-right: 20px;
}

footer nav {
 
  float: right;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
}

footer nav ul {
  list-style-type: none;
}

footer nav ul li {
  display: inline-block;
  margin-left: 25px;
}